#root {
    width: 240px;
    height: 400px;

    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11pt !important;
    overflow: visible !important;
}

.ui-widget {
    font-size: 11pt !important;
}

ul.ui-menu {
    max-height: 180px !important;
}

.input-label {
    color: white;
    text-align: left;

    padding-bottom: 5px;
}

.input-container {
    width: 100%;
    height: 55px;
}

.gap {
    flex-grow: 1;
}

#button-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding-top: 15px;
}

#player-container {
    padding-bottom: 25px;
}

#button-container {
    padding-top: 25px;
}

.text-field {
    width: 230px;
    height: 25px;
}
