#root {
    width: 240px;
    height: 255px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    overflow: visible !important;
}

.ui-widget {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size: 10pt !important;
}

#player-dropdown-menu {
    max-height: 245px;
    max-width: 250px;
}

#player-country-dropdown-menu {
    max-height: 165px;
    max-width: 250px;
}

.input-label {
    color: white;
    text-align: left;

    margin-bottom: 5px;
}

.input-container {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.gap {
    flex-grow: 1;
}

#button-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 60px;
}

#player-container {
    margin-bottom: 15px;
}

.text-field {
    width: 230px;
    height: 25px;
}

#player-dropdown-button {
    width: 205px !important;
}

#player-country-dropdown-button {
    width: 205px !important;
}

input::placeholder {
    color: gray;
}
