#root {
    width: 100%;
    height: 210px;
}

.input-label {
    font-family: Verdana,Arial,sans-serif;
    color: white;
    font-size: 11pt;
    text-align: left;

    padding-bottom: 10px;
}

.input-container {
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
}

