#root {
    width: 100%;
    height: 255px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size: 10pt !important;
}

.ui-spinner {
    height: 33px !important;
    line-height: 33px !important;
    text-align: center;
}

#player-1-name-dropdown-menu {
    max-height: 170px !important;
    max-width: 250px;
}

#player-2-name-dropdown-menu {
    max-height: 170px !important;
    max-width: 250px;
}

#player-1-country-dropdown-menu {
    max-height: 90px; !important;
    max-width: 250px;
}

#player-2-country-dropdown-menu {
    max-height: 90px; !important;
    max-width: 250px;
}

.player {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 100%;
}

.player-name {
    flex-grow: 1;
}

#player-container {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    color: white;
}

.player-column-container {
    display: flex;
    flex-direction: row;
    width: 233px;
}

.input-label {
    color: white;
    text-align: center;

    margin-bottom: 15px;
}

.input-container {
    display: inline-block;
    width: 240px;
    height: 100%
}

.score-container {
    width: 80px;
    height: 50px;
    margin-top: 28px;
}

.player-score {
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.ui-spinner-input {
    text-align: center;
}

.ui-widget {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-size: 10pt !important;
}

.gap {
    width: 50px;
}

#player-1-score-spinner {
    width: 25px;
}

#player-2-score-spinner {
    width: 25px;
}

#label-container {
    width: 100%;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    color: white;
    text-align: center;
}

#button-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;
    color: white;
}

#update-button {
    width: 100px;
    flex-grow: 1;
}

#swap-button {
    width: 100px;
    flex-grow: 1;
}


#player-1-name-dropdown-button {
    width: 208px !important;
}

#player-2-name-dropdown-button {
    width: 208px !important;
}

#player-1-country-dropdown-button {
    width: 208px !important;
}

#player-2-country-dropdown-button {
    width: 208px !important;
}

#player-1-score {
    float: right;
    margin-left: 5px;
}

#player-2-name {
    /* float: right; */
}

#player-2-score {
    float: left;
}

#gap-fixed {
    width: 25px;
}

#button-left-gap {
    flex-grow: 2;
}

#button-right-gap {
    flex-grow: 2;
}

#player-1-name {
    margin-top: 3px;
}

#player-2-name {
    margin-top: 3px;
}

.player-sponsor-override {
    width: 70px;
    height: 30px;

    margin-top: 15px;
    margin-right: 10px;
    flex: 1 1 auto;
}

.player-name-override {
    width: 155px;
    height: 30px;

    margin-top: 15px;
    flex: 2 1 auto;
}

#player-2-column-container {
}

.player-country-override {
    width: 100%;
    margin-top: 5px;
}

#player-1-label {
    margin-right: 90px;
}

#player-2-label {
    margin-left: 90px;
}

#player-1-sponsor-text {
    width: 100%;
    height: 25px;
    text-align: center;
}

#player-2-sponsor-text {
    width: 100%;
    height: 25px;
    text-align: center;
}

#player-1-name-text {
    width: 100%;
    height: 25px;
    text-align: center;
}

#player-1-name {
    /* float: left; */
}

#player-2-name {
    margin-right: 2px;
}

#player-2-name-text {
    width: 100%;
    height: 25px;
    text-align: center;
}

#label-text {
    width: 140px;
    height: 25px;
    text-align: center;
}

#pending-changes-label {
    font-weight: 800;
    color: rgb(255, 73, 73);
    font-size: 13pt !important;
    height: 30px;
    margin-bottom: 0px !important;
    line-height: 30px;

}

input::placeholder {
    color: gray;
}
