#root {
    width: 100%;
    height: 210px;
}

.player {
    width: 300px;
    height: 100%;
    display: inline-block;
}

.player-name {
    flex-grow: 1;
}

#player-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;

    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
    color: white;
}


.input-label {
    font-family: Verdana,Arial,sans-serif;
    color: white;
    font-size: 11pt;
    text-align: center;

    padding-bottom: 15px;
}

.player-score {
    width: 75px;
}

.ui-selectmenu-text {
    font-size: inherit !important;
}

.ui-spinner-input {
    font-size: inherit !important;
    text-align: center;
}

.ui-button {
    font-size: inherit !important;
}


.gap {
    flex-grow: 1;
}

#player-1-score-spinner {
    width: 35px;
}

#player-2-score-spinner {
    width: 35px;
}

#label-container {
    width: 100%;

    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
    color: white;
    text-align: center;
}

#button-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;

    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
    color: white;
}

#update-button {
    width: 100px;
    flex-grow: 1;
}

#switch-button {
    width: 100px;
    flex-grow: 1;
}

#player-1-name {
    float: left;
}

#player-1-score {
    float: right;
}

#player-2-name {
    float: right;
}

#player-2-score {
    float: left;
    padding-right: 8px;
}

#gap-fixed {
    width: 25px;
}

#button-left-gap {
    flex-grow: 2;
}

#button-right-gap {
    flex-grow: 2;
}

#player-1-name {
    padding-top: 3px;
}

#player-2-name {
    padding-top: 3px;

}
