#root {
    width: 100%;
    height: 400px;

    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11pt !important;
}

.ui-spinner {
    height: 33px !important;
    line-height: 33px !important;
    text-align: center;
}

ul.ui-menu {
    max-height: 180px !important;
}

.player {
    width: 300px;
    height: 100%;
    display: inline-block;
    flex-grow: 2;
}

.player-name {
    flex-grow: 1;
}

#player-container {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;

    color: white;
}


.input-label {
    color: white;
    text-align: center;

    padding-bottom: 15px;
}

.player-score {
    width: 75px;
}

.ui-spinner-input {
    text-align: center;
}

.ui-widget {
    font-size: 11pt !important;
}

.gap {
    flex-grow: 1;
}

#player-1-score-spinner {
    width: 35px;
}

#player-2-score-spinner {
    width: 35px;
}

#label-container {
    width: 100%;

    font-family: Arial,Helvetica,sans-serif;
    color: white;
    text-align: center;
}

#button-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;

    font-family: Arial,Helvetica,sans-serif;
    color: white;
}

#update-button {
    width: 100px;
    flex-grow: 1;
}

#swap-button {
    width: 100px;
    flex-grow: 1;
}

#player-1-name {
    float: left;
}

#player-1-score {
    float: right;
}

#player-2-name {
    float: right;
}

#player-2-score {
    float: left;
    padding-right: 8px;
}

#gap-fixed {
    width: 25px;
}

#button-left-gap {
    flex-grow: 2;
}

#button-right-gap {
    flex-grow: 2;
}

#player-1-name {
    padding-top: 3px;
}

#player-2-name {
    padding-top: 3px;
}

.player-tag-override {
    width: 74px;
    height: 30px;
    display: inline-block;

    padding-right: 5px;
    padding-top: 25px;
}

.player-name-override {
    width: 100px;
    height: 30px;
    display: inline-block;

    padding-top: 25px;
}

#player-2-sponsor-override {
    padding-left: 7px;
}

.player-country-override {
    padding-top: 5px;
}

#player-2-country-override {
    padding-left: 90px;
}

#player-1-label {
    padding-right: 100px;
}

#player-2-label {
    padding-left: 100px;
}

#player-1-sponsor-text {
    width: 70px;
    height: 25px;
    text-align: center;
}

#player-2-sponsor-text {
    width: 70px;
    height: 25px;
    text-align: center;
}

#player-1-name-text {
    width: 150px;
    height: 25px;
    text-align: center;
}

#player-2-name-text {
    width: 150px;
    height: 25px;
    text-align: center;
}

#label-text {
    width: 140px;
    height: 25px;
    text-align: center;
}

#pending-changes-label {
    padding-top: 50px;
    font-weight: 800;
    color: rgb(255, 73, 73);
    font-size: 17pt !important;
}
